#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  margin: 0;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}


.slideset, .slideview, p {
  border: 1px solid black;
}

.app-container {
  display: flex;
  border: none !important;
  width: 100vw;
  height: 100vh;
}

.toolbar {
  position: fixed;
  top: 2vh;
  left: 2vw;
  width: var(--tool-width);
  height: 96vh;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
}

.slideset{
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: fixed;
  bottom: 3vh;
  left: calc(0.5*var(--tool-width) + 30vw);
  width: 40vw;
  height: 20vh;
}

.slideview{
  position: fixed;
  left: calc(0.5*var(--tool-width) + 20vw);
  top: 15vh;
  width: 60vw;
  height: 55vh;
  border-radius: 20px;
}
.mini{
  height: inherit;
  width: min(200px, 20vw);
  border: 1px solid black;
}

.element {
  display: flex;
  width: inherit;
  height: inherit;
  cursor: inherit;
  z-index: 0;
  justify-content: center;
  align-items: center;
}

.element-container {
  border: none;
}


.top-sect{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2vh;
  right: 5vw;
} 

.hidden {
  display: none;
}

